doctype html
html
  head
    title Koa - next generation web framework for node.js
    link(rel='stylesheet', href='public/style.css')
    link(rel='stylesheet', href='public/icons/css/slate.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Italiana&subset=latin')
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0')
  body
    section#top
      #menu
        a#toggle(href='#'): i.icon-menu
        ul
          li: a(href='#introduction') Introduction
          li: a(href='#application') Application
          li: a(href='#context') Context
          li: a(href='#request') Request
          li: a(href='#response') Response
          li: a(href='#community') Community

      #heading
        #logo Koa
        #tagline next generation web framework for node.js

    section
      .content
        h1 Introduction
        p.
          Koa is a new web framework designed by the team behind Express,
          which aims to be a smaller, more expressive, and more robust foundation
          for web applications and APIs. Through leveraging generators Koa allows you
          to ditch callbacks and greatly increase error-handling. Koa does not bundle any
          middleware within core, and provides an elegant suite of methods that make
          writing servers fast and enjoyable.

    section
      .content
        include ../public/index.md

    section
      .content
        include ../public/context.md

    section
      .content
        include ../public/request.md

    section
      .content
        include ../public/response.md

    section
      .content
        h1#community Community
        p.
          Community links to discover third-party middleware for Koa, full runnable examples,
          thorough guides and more! If you have questions join us in IRC!

        ul
          li: a(href='https://github.com/koajs/examples') Examples
          li: a(href='https://github.com/koajs/koa/wiki') Middleware
          li: a(href='https://github.com/koajs/koa/wiki') Wiki
          li: a(href='https://plus.google.com/communities/101845768320796750641') G+ Community
          li: a(href='https://groups.google.com/forum/#!forum/koajs') Mailing list
          li: a(href='https://github.com/koajs/koa/blob/master/docs/guide.md') Guide
          li: a(href='https://github.com/koajs/koa/blob/master/docs/faq.md') FAQ
          li: <strong>#koajs</strong> on freenode