doctype html
html
  head
    title Koa - next generation web framework for node.js
    link(rel='stylesheet', href='public/style.css')
    link(rel='stylesheet', href='public/icons/css/slate.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Italiana&subset=latin')
  body
    section#top
      a#menu(href='#'): i.icon-menu

      #heading
        #logo Koa
        #tagline next generation web framework for node.js

    section
      .content
        h1 Introduction
        p.
          Koa is a new web framework designed by the team behind Express,
          which aims to be a smaller, more expressive, and more robust foundation
          for web applications and APIs. Through leveraging generators Koa allows you
          to ditch callbacks and greatly increase error-handling. Koa does not bundle any
          middleware within core, and provides an elegant suite of methods that make
          writing servers fast and enjoyable.

    section
      .content
        include ../public/index.md

    section
      .content
        include ../public/context.md

    section
      .content
        include ../public/request.md

    section
      .content
        include ../public/response.md

    section
      .content
        include ../public/guide.md
