
* {
  -webkit-box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 20px/1.5 "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  background: white;
  margin: 0;
  color: #33333d;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #33a0c0;
}

section {
  min-height: 50%;
}

section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

section:not(#top) {
  padding: 150px 100px;
  text-align: center;
}

pre {
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 25px;
  font-size: .9em;
  font-family: monospace;
}

.content img {
  width: 100%;
}

p {
  font-weight: 300;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

code {
  font-family: monospace;
  font-size: .9em;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h1:not(:first-child) {
  margin-top: 50px;
}

h2 {
  margin-top: 50px;
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

ul li {
  font-size: .8em;
}

section:nth-child(2n) {
  background: #fdfdfd;
  box-shadow: inset 0 1px 0 0 white;
}

.content {
  margin: 0 auto;
  max-width: 750px;
  text-align: left;
}

#top {
  height: 100%;
}

#heading {
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  text-align: center;
  width: 100%;
}

#logo {
  font: 150px 'Italiana', sans-serif;
  text-transform: lowercase;
}

#tagline {
  font-size: 16px;
}

#menu {
  position: fixed;
  top: 30px;
  right: 30px;
  color: inherit;
}
